.heading{
    text-align: center;
    color: red;
    font-size: 30px;
    padding: 20px;
    font-weight:bold;
}

.box{
    display: flex;
    justify-content: center;
}

.box *{
width:30px;
height:30px;
font-size: 20px;
margin: 5px;
}

#myBtn{
    background-color: grey;
    border-radius: 20px;
}

#xyz{
    display: flex;
    flex-wrap: wrap;


}

.my{
    background-color: lightblue;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    padding: 1px;
}
.all{
    background-color: red;
    margin: 10px;
}

#loader {
    animation: move 1.5s linear infinite;
    position: relative;
  }

  @keyframes move {
    0% {
      left: 500px;
      /* transform: rotate(0deg); */
    }
    100% {
      left: 1000px;
      /* transform: rotate(360deg); */
    }
  }
